body {
    background-image: url(Images/HomePage/BackGround.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'LeagueFont';
    src: url(Font/Friz\ Quadrata\ Regular.ttf),
        url(Font/Friz\ Quadrata\ Bold.otf),
        url(Font/Friz\ Quadrata\ Italic),
        url(Font/Friz\ Quadrata\ Std\ Medium.otf);
}
.logo_mini {
    padding-top:4px;
    height: 100px;

}

nav {
    display: flex;
    flex-direction: row;
    background: rgba(39, 36, 36, 0.315);
}

nav ul {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

nav ul li {
    width: 186px;
    margin: 0 auto;
    list-style: none;
    color: black;
    font-family: 'Alice';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    transition: ease all .5s;
    border: 1px solid;
    background-image: url(Images/HomePage/Abilities_Background.JPG);

}

nav ul li:hover {
    border-radius: 77px;
    transition: ease all .5s;
    
}


nav ul li a {
    color: rgb(47, 117, 119);
    text-decoration: none;
    font-family: LeagueFont;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
}
p {
    color: white;
}

h2{
    color: white;
}

.Line{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;

}

.lane{
    text-align: center;
    width: 600px;
    border: 3px solid;
    border-color: black;
    border-radius: 40px;
    background-image: url(Images/HomePage/Abilities_Background.JPG);
    font-family: LeagueFont;
    color: rgb(122, 144, 145);
}

.Home_Page {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.Big_Logo{
    width:800px;
}

.Home_Text{
    border: 1px solid;
    font-size: 40px;
    width: 1750px;
    text-align: center;
    background-color: rgba(148, 144, 144, 0.562);
    color: black;
}

.Loading{
    height: 800px;
    width: 475px;
    border: 2px solid gold;
    box-shadow: 1px 0px 40px;
}

.Mini_Loading{
    display:flex;
    flex-direction: column;
    margin: 50px;
}

.Big_Loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.Text_Loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: rgba(63, 62, 62, 0.441);
}

.Champ_Name{
    font-size: 37px;
    font-weight: 800;
    color: rgb(176, 204, 206);
    background-image: url(Images/HomePage/Abilities_Background.JPG);
    border-radius:10px ;
    font-family: LeagueFont;
    padding: 10px;
}

.Text_Loading a{
    color: rgb(33, 82, 83);
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(180, 164, 75, 0.721);
    font-family: LeagueFont;
}

.Champion_Picture {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Name{
    display: flex;
    justify-content: center;
}

.Name_text{
    font-family: LeagueFont;
    font-size: 45px;
    letter-spacing: 0.1em;
    border: 3px solid rgba(180, 164, 75, 0.721);
    border-radius: 10px;
    background-image: url(Images/HomePage/Abilities_Background.JPG);
    padding:10px;
}

.Bio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.Bio_text{
    width: 70%;
    font-family: LeagueFont;
    background-image: url(Images/HomePage/Abilities_Background.JPG);
    font-size: 25px;
    border: 1px solid;
    border: 1px solid rgba(180, 164, 75, 0.721);
    padding:15px;

}

.Abilities {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center
}

.Ability {
    display: flex;
    flex-direction: column;
    background-image: url(Images/HomePage/Abilities_Background.JPG);
    background-size: cover;
    border: 1px solid rgba(180, 164, 75, 0.721);
    width: 18%;
    text-align: center;
    margin-right: 20px;
    height: 100%;
}

.Ability p {
    font-size: 36px;
    font-family: LeagueFont;
    padding: 15px;
}
    
ul {
    list-style: none;
}
    
.Ability_Icon {
    width: 37%;
    height: 90%;
    margin-top: 10px;
    border: 4px solid rgba(180, 164, 75, 0.721);
}

    
#dropdown{
    display: none;
}

.BackButton{
    display:flex;
    justify-content: center;
    margin-top:20px;
}

.BackButton_text{
    width: 70%;
    font-family: LeagueFont;
    background-image: url(Images/HomePage/Abilities_Background.JPG);
    font-size: 25px;
    text-align: center;
    border: 3px solid rgba(180, 164, 75, 0.721);
    padding:15px;
    text-decoration:none;
    color: #fff;
    margin-top:100px;
}